body {
    background-color: gray;
    text-align: center; /*Esto tendria que centrarme todo pero nope*/
}

.hide {
    display: none;    
}

.botonStart {
    text-align: center;
    width: 80px;
    height: 45px;
    border-radius: 80px;
    border-color: black;
    border-width: 3px;
    padding: 0px 20px;
    cursor: pointer;
}

.botonCaja {
    width: 120px;
    height: 120px;
    margin: 5px;
    border-radius: 20px;
    border-color: black;
    border-width: 4px;
    cursor: pointer;
}

button:active { /* Si no funciona bien probar esta accion del boton definiendola por clases en vez de por elemento*/
    box-shadow: 0px 0px 30px white;
}

#verde {
    background-color: green;
}

#rojo {
    background-color: red;
}

#amarillo {
    background-color: yellow;
}

#azul {
    background-color: blue;
}

.boton {
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
  }
  
   
