body {
    background-color: gray;
    text-align: center; /*Esto tendria que centrarme todo pero nope*/
}

.hide {
    display: none;    
}

.turnos {
    display: inline-block;

}
.botonStart {
    text-align: center;
    width: 80px;
    height: 45px;
    border-radius: 80px;
    border: 2px solid black;
    padding: 0px 20px;
    cursor: pointer;
}

.cajaUser {
    width: 90px;
    height: 50px;
    margin: 5px; 
    border-radius: 15px;
    border: 3px solid black;
    display: inline-block;
    align-items: center;
    padding: 0 15px;
}

#cajaBotones {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
}

#ia{
    background-color: blueviolet;
}

#human{
    background-color: blueviolet;
}

.botonCaja {
    width: 100px;
    height: 100px;
    margin: 5px;
    border-radius: 20px;
    border: 3px solid black;
    cursor: pointer;
}

.botonCaja:active { /* Si no funciona bien probar esta accion del boton definiendola por clases en vez de por elemento*/
    box-shadow: 0px 0px 30px white;
}

.iluminado { 
    box-shadow: 0px 0px 30px white;
}

#verde {
    background-color: green;
}

#rojo {
    background-color: red;
}

#amarillo {
    background-color: yellow;
}

#azul {
    background-color: blue;
}